# step 1

CONTROL_PLANE_IP=<CONTROL_PLANE_IP>
WORKER_IP=("<WORKER1_IP>" "<WORKER2_IP>")

#step 2

CLUSTER_NAME="<your cluster name>"
DISK_NAME="<your disk name>"

# later

TALOSCONFIG=$(pwd)/talosconfig